.MessageCard h5 {
  font-size: 1.25rem;
}

.MessageCard h6 {
  font-size: 0.9rem;
  margin-bottom: 12px;
}

.MessageCard {
    color: #000;
    background-color: #DBE6F7;
    padding-bottom: 20px;
    box-shadow: 0 15px 25px #817c7c33;
    font-size: medium;
    border-radius: 14px;
    backdrop-filter: blur(2px);
    text-align: center;
    margin-bottom: 30px;
    height: 300px;
}

.MessageCard {
  width: 300px;
}

.MessageCard h6,
.MessageCard h5 {
  align-content: center;
  margin-top: 12px;
  margin-bottom: 4px;
}